{% extends 'home/base.html' %}


{% block content %}
    <!-- Header Section Begin -->
    {% include 'home/includes/header_navbar.html' %}
    <!-- Header Section End -->

    <!-- Categories Section Begin -->
    {% include 'home/includes/categories_section.html' %}
    <!-- Categories Section End -->

    <!-- Product Section Begin -->
    {% include 'home/includes/product_section.html' %}
    <!-- Product Section End -->

    <!-- Banner Section Begin -->
    {% include 'home/includes/banner_section.html' %}
    <!-- Banner Section End -->

    <!-- Trend Section Begin -->
    {% include 'home/includes/trend_section.html' %}
    <!-- Trend Section End -->

    <!-- Discount Section Begin -->
    {% include 'home/includes/discount_section.html' %}
    <!-- Discount Section End -->

    <!-- Services Section Begin -->
    {% include 'home/includes/services_section.html' %}
    <!-- Services Section End -->
    
    <!-- Footer Section Begin -->
    {% include 'home/includes/footer_section.html' %}
    <!-- Footer Section End -->

    <!-- Search Begin -->
    {% include 'home/includes/search_begin.html' %}
    <!-- Search End -->
{% endblock content %}